<div class="row mt-2">
  <div class="col-md-6">
    <h1>Create New Professor</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-danger float-right" routerLink="/home">
      <i class="fa fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <form #professorForm="ngForm" (ngSubmit)="saveProfessor(professor)">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="text-style">Name</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="professor.name" placeholder="Name" required>
        </div>

        <div class="form-group col-md-4">
          <label class="text-style">Email</label>
          <input type="text" class="form-control" name="email" #email="ngModel"  [(ngModel)]="professor.email"  placeholder="Email" required>
        </div>
        <div class="form-group col-md-4">
          <label class="text-style">Age</label>
          <input type="text" class="form-control" name="email" #email="ngModel"  [(ngModel)]="professor.age"  placeholder="Age" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="professorForm.invalid"><i class="fa fa-save"></i>Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
