<div class="col-md-12 text-center mt-3">
  <h1>School-App</h1>
</div>

<div class="row animated fadeInUp" style="margin-top: 100px;">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Signatures</h5>
        <p class="card-text">List of Signatures</p>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                [routerLink]="['/signatures']">Signatures</button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">List of Students</p>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                [routerLink]="['/students']">Students</button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Professors</h5>
        <p class="card-text">List of Professors</p>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                [routerLink]="['/professors']">Professors</button>

      </div>
    </div>
  </div>

</div>
