<div class="row mt-2">
  <div class="col-md-6">
    <h1>Create New Signature</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-danger float-right" routerLink="/signatures">
      <i class="fa fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <form #studentForm="ngForm" (ngSubmit)="saveSignature(signature)">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="text-style">Id</label>
          <input type="text" class="form-control" name="id" #id="ngModel" [(ngModel)]="signature.id" placeholder="Id" required>
        </div>
        <div class="form-group col-md-6">
          <label class="text-style">Name</label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="signature.name" placeholder="Name" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="studentForm.invalid"><i class="fa fa-save"></i>Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

