<div class="row mt-2">
  <div class="col-md-6">
    <h1>Professor List</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-danger float-right" routerLink="/home">
      <i class="fa fa-arrow-left"></i>
      Back
    </button>

    <button class="btn btn-success float-right mr-5" routerLink="/professors/new">
      <i class="fa fa-arrow-left"></i>
      New
    </button>
  </div>
</div>

<div class="animated fadeInUp">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let professor of professorsList">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{professor.name}}</h4>
          <h6 class="card-subtitle mb-2">Student Description</h6>
          <p class="card-text">Professor Description</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="animated fadeInUp">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Professor Name</h4>
          <p class="card-text">Test</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Professor Name</h4>
          <p class="card-text">Test</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Professor Name</h4>
          <p class="card-text">Test</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
