<div class="row mt-2">
  <div class="col-md-6">
    <h1>Signature List</h1>
  </div>
  <div class="col-md-6">
    <button class="btn btn-danger float-right" routerLink="/home">
      <i class="fa fa-arrow-left"></i>
      Back
    </button>

    <button class="btn btn-success float-right mr-5" routerLink="/signatures/new">
      <i class="fa fa-arrow-left"></i>
      New
    </button>
  </div>
</div>

<div class="animated fadeInUp">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4" *ngFor="let signature of signatureList">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">{{signature.name}}</h4>
          <h6 class="card-subtitle mb-2">Signature Description</h6>
          <p class="card-text">Signature Description</p>
          <button class="btn btn-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
